//Adaptive
$mobile:                                 576px;
$tablet:                                 768px;
$tabletXL:                               992px;

$laptop:                                 1200px;
$desktop:                                1400px;
$desktopXL:                              1750px;
//----------------------------------------------------------------------------
//Main colors
$primary:                              #F6653B;
$primaryLight:                         #FFFFFF;

$secondary:                            #F2FAFF;

//Red color palette
// $lightRed:                             #920000;

//Dark color palette
$dark:                                 #000000;
// $strongDark:                           #212121;
// $lightDark:                            #292929;
// $lighterDark:                          #2A2F36;

//Silver color palette
// $strongerSilver:                       #6C6C6C;
// $strongSilver:                         #828282;
// $lightSilver:                          #e2e2ea;
$lightenSilver:                        #C4C4C4;

//Blue color palette
$lightBlue:                            #B3D7FF;

//RGBA colors
// $zeroDark-RGBA:                        rgba(0, 0, 0, 0);
// $lightRed-RGBA:                        rgba(146, 0, 0, 0.4);
// $lightWhite-RGBA:                      rgba(255, 255, 255, 0.4);
// $dark-RGBA-light:                      rgba(0, 0, 0, 0.25);
// $dark-RGBA-strong:                     rgba(0, 0, 0, 0.5);

//Gradients
// $primary-lightRed-gradient:              linear-gradient(38.57deg, rgba(146, 0, 0, 0.5) -1.23%, rgba(146, 0, 0, 0) 64.58%);
// $secondary-lightRed-gradient:            linear-gradient(38.57deg, $lightRed -1.23%, rgba(146, 0, 0, 0) 64.58%);
// $text-lightRed-gradient:                 linear-gradient(21deg, rgba(146,0,0,1) 10%, rgba(0,0,0,1) 100%);
//----------------------------------------------------------------------------
//Layout
$max-width-sectionInner:                 1420px;
$max-width-sectionInnerForHeader:        1660px;

//Spacing
$spacing-sm:                             20px;
$spacing-xxl:                            40px;

$spacing-m-s:                            10px;
$spacing-m:                              30px;

$spacing-m-t-xxl:                        80px;
$spacing-m-t-sm:                         60px;

$spacing-cards:                          140px;
//----------------------------------------------------------------------------
//Fonts
$fontSizeSmall:                          12px;
$fontSizeMedium:                         14px;
$fontSizeDeafault:                       16px;
$fontSizeBig:                            18px;

$fontSizeLighterSmall:                   16px;
$fontSizeLighterMedium:                  18px;
$fontSizeLighterDefault:                 20px;
$fontSizeLighterBig:                     22px;

$fontSizeLightSmall:                     18px;
$fontSizeLightMedium:                    20px;
$fontSizeLightDefault:                   22px;
$fontSizeLightBig:                       24px;

$fontSizeStrongSmall:                    24px;
$fontSizeStrongMedium:                   28px;
$fontSizeStrongDefault:                  32px;
$fontSizeStrongBig:                      36px;

$fontSizeBoldSmall:                      36px;
$fontSizeBoldMedium:                     40px;
$fontSizeBoldDeafault:                   44px;
$fontSizeBoldBig:                        48px;

$fontSizeBolderSmall:                    32px;
$fontSizeBolderMedium:                   48px;
$fontSizeBolderDeafault:                 56px;
$fontSizeBolderBig:                      64px;

$fontSizeMaxSmall:                       50px;
$fontSizeMaxMedium:                      58px;
$fontSizeMaxDeafault:                    66px;
$fontSizeMaxBig:                         72px;
//----------------------------------------------------------------------------
//Line-heights
$line-height-90p:                        0.90;
$line-height-100p:                       1.00;
$line-height-110p:                       1.10;
$line-height-116p:                       1.16;
$line-height-125p:                       1.25;
$line-height-133p:                       1.33;
$line-height-140p:                       1.40;
$line-height-150p:                       1.50;
$line-height-157p:                       1.57;
$line-height-167p:                       1.67;
$line-height-225p:                       2.25;
//----------------------------------------------------------------------------
//z-indexs
$z-index-minus:                          -1;
$z-index-zero:                           0;
$z-index-blocks:                         1;
$z-index-header:                         2;
$z-index-modal:                          3;
//----------------------------------------------------------------------------